body {
    margin: 0;
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: bold;
    background-color:#e8e7e7;
    padding-bottom: 1000px;
  }

  .navbar {
    display: flex;
    background-color: white;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a {
    color: rgb(77, 75, 75);
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
  }

  .navbar a:hover {
    color: rgb(18, 17, 17);
  }

  .icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }

  .left-section {
    display: flex;
    justify-content: start;
    align-items: center; 
  }

  .right-section {
    display: flex;
    justify-content: end;
  }

  .title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    color: rgb(77, 75, 75);
  }

  .statistics-display {
    display: grid;
    grid-template-columns: 1fr;  
  }

  .graph-grid {
    display: grid;
    grid-template-columns: 1fr;  
    margin-top: 20px;
  }

  .graph-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: Roboto;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  button {
      font-family: Arial;
      margin-right: 7px;
      width: 120px; 
      padding: 8px;
      border: none;
      border-radius: 21px;
      font-size: 14px;
      cursor: pointer;
      background-color: #bb6510;
      color: white;
      transition: background-color 0.3s ease;
  }

  button:hover {
    opacity: 0.7;
  }

  #graph-container {
      width: 1000px; 
      margin: 0 auto;
      margin-top: 10px;
      border: 2px solid #83888b;
      border-radius: 10px;
      padding: 10px;
      background-color: white;
  }

  #graph-image {
    max-width: 500px; 
    height: auto;
    border-radius: 8px;
  }

  .graph-grid {
    display: grid;
    grid-template-columns: 1fr; 
    margin-top: 20px;
  }
  
  .graph-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: Roboto;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .button-container button {
    margin: 0 5px;
  }
  
  #graph-container {
    display: flex;
    align-items: flex-start;
  }
  
  .label {
    flex: 1;
    margin-left: 10px;
  }
  
  .label-information {
    flex: 1;
  }
  
  .label-information p {
    text-align: right;
  }
  
  